<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <title>Produtos</title>
</head>
<body>
  <div id="loader">
    <div class="spinner"></div>
  </div>
  <div id="content" style="display: none;">
    
      <header> 
        <div class="center">
         <div class="logo"> <img src="assets/logo_frangoamericano_colorido.png" width="150px" height="100px" /></a></div>
            <div class="menu">
                    <a href="/">Inicio</a>
                    <a href="#">Receitas</a>
                    <a href="/faleConosco.html">Fale Conosco</a>
                    <a href="/Produtos.html">Produtos</a>
            </div>
        </div>
      </header>
      <div class="carrinho-container">
        <a href="#"> <img src="assets/carrinho_compras.png" alt=""></a>
        <span class="cart-count" id="contagem-carrinho">0</span>
      </div>
        <div class="products">
            <div class="product">
                <img src="assets/Amazônia_Congelado.png " alt="Imagem do Produto 1">
                <button onclick="abrirModal()">COMPRE AGORA</button>
                <div id="modal">
                  <h2>Detalhes do Produto</h2>
                  <p>Produto: Nome do Produto</p>
                  <p>Preço: R$ 00,00</p>
                  <label for="quantidadeInput">Quantidade:</label>
                  <input type="number" id="quantidade1" name="quantidade" min="1" max="100" value="1">
                  <button id="modal-button" onclick="addToCart()">Adicionar ao Carrinho</button>
                  <button id="fechar-modal" onclick="closeModal()">Fechar</button>
                </div>
            </div>
            <div class="product">
                <img src="assets/Americano_Corte Individual_Coxa-Sobrecoxa.png" alt="Imagem Produto 2" >
                <button onclick="abrirModal()">COMPRE AGORA</button>
                <div id="modal">
                  <h2>Detalhes do Produto</h2>
                  <p>Produto: Nome do Produto</p>
                  <p>Preço: R$ 00,00</p>
                  <label for="quantidade">Quantidade:</label>
                  <input type="number" id="quantidade2" name="quantidade" min="1" max="100" value="1">
                  <button onclick="addToCart">Adicionar ao Carrinho</button>
                  <button id="fechar-modal" onclick="closeModal()">Fechar</button>
                </div>
            </div>
              <div class="product">
                <img src="assets/Americano_Fest.png" alt="Imagem Produto 3">
                <button onclick="abrirModal()">COMPRE AGORA</button>
                <div id="modal">
                  <h2>Detalhes do Produto</h2>
                  <p>Produto: Nome do Produto</p>
                  <p>Preço: R$ 00,00</p>
                  <label for="quantidade">Quantidade:</label>
                  <input type="number" id="quantidade3" name="quantidade" min="1" max="100" value="1">
                  <button onclick="addToCart">Adicionar ao Carrinho</button>
                  <button id="fechar-modal" onclick="closeModal()">Fechar</button>
                </div>
            </div>
              <div class="product">
                <img src="assets/AvisPará_Congelado.png" alt="Imagem Produto 4">
                <button onclick="abrirModal()">COMPRE AGORA</button>
                <div id="modal">
                  <h2>Detalhes do Produto</h2>
                  <p>Produto: Nome do Produto</p>
                  <p>Preço: R$ 00,00</p>
                  <label for="quantidade">Quantidade:</label>
                  <input type="number" id="quantidade4" name="quantidade" min="1" max="100" value="1">
                  <button onclick="addToCart">Adicionar ao Carrinho</button>
                  <button id="fechar-modal" onclick="closeModal()">Fechar</button>
                </div>
            </div>
              <div class="product">
                <img src="assets/linguica.png" alt="Imagem Produto 5">
                <button onclick="abrirModal()">COMPRE AGORA</button>
                <div id="modal">
                  <h2>Detalhes do Produto</h2>
                  <p>Produto: Nome do Produto</p>
                  <p>Preço: R$ 00,00</p>
                  <label for="quantidade">Quantidade:</label>
                  <input type="number" id="quantidade5" name="quantidade" min="1" max="100" value="1">
                  <button onclick="addToCart">Adicionar ao Carrinho</button>
                  <button id="fechar-modal" onclick="closeModal()">Fechar</button>
              </div>
                
            </div>
              <div class="product">
                <img src="assets/Calabresa_2,5kg.png" alt="Imagem Produto 6">
                <button onclick="abrirModal()">COMPRE AGORA</button>
                <div id="modal">
                  <h2>Detalhes do Produto</h2>
                  <p>Produto: Nome do Produto</p>
                  <p>Preço: R$ 00,00</p>
                  <label for="quantidade">Quantidade:</label>
                  <input type="number" id="quantidade6" name="quantidade" min="1" max="100" value="1">
                  <button onclick="addToCart">Adicionar ao Carrinho</button>
                  <button id="fechar-modal" onclick="closeModal()">Fechar</button>
                </div>

              </div>
              
              <div class="product">
                <img src="assets/Espetinho_Cx900g_H.png" alt="Imagem Produto 7">
                <button onclick="abrirModal()">COMPRE AGORA</button>
                <div id="modal">
                  <h2>Detalhes do Produto</h2>
                  <p>Produto: Nome do Produto</p>
                  <p>Preço: R$ 00,00</p>
                  <label for="quantidade">Quantidade:</label>
                  <input type="number" id="quantidade7" name="quantidade" min="1" max="100" value="1">
                  <button onclick="addToCart">Adicionar ao Carrinho</button>
                  <button id="fechar-modal" onclick="closeModal()">Fechar</button>
                </div>
              </div> 

              <div class="product">
                <img src="assets/avisPará.png" alt="Imagem Produto 8">
                <button onclick="abrirModal()">COMPRE AGORA</button>
                <div id="modal">
                  <h2>Detalhes do Produto</h2>
                  <p>Produto: Nome do Produto</p>
                  <p>Preço: R$ 00,00</p>
                  <label for="quantidade">Quantidade:</label>
                  <input type="number" id="quantidade8" name="quantidade" min="1" max="100" value="1">
                  <button onclick="addToCart">Adicionar ao Carrinho</button>
                  <button id="fechar-modal" onclick="closeModal()">Fechar</button>
                </div>
              </div>

              <div class="product">
                <img src="assets/lanche.png" alt="Produto 9">
                <button onclick="abrirModal()">COMPRE AGORA</button>
                <div id="modal">
                  <h2>Detalhes do Produto</h2>
                  <p>Produto: Nome do Produto</p>
                  <p>Preço: R$ 00,00</p>
                  <label for="quantidade">Quantidade:</label>
                  <input type="number" id="quantidade9" name="quantidade" min="1" max="100" value="1">
                  <button onclick="addToCart">Adicionar ao Carrinho</button>
                  <button id="fechar-modal" onclick="closeModal()">Fechar</button>
                </div>
                </div>
              </div>

            </div>
              <div class="product">
                <img src="assets/bandeja_congelada.png" alt="Produto 10">
                <button onclick="abrirModal()">COMPRE AGORA</button>
                <div id="modal">
                  <h2>Detalhes do Produto</h2>
                  <p>Produto: Nome do Produto</p>
                  <p>Preço: R$ 00,00</p>
                  <label for="quantidade">Quantidade:</label>
                  <input type="number" id="quantidade10" name="quantidade" min="1" max="100" value="1">
                  <button onclick="addToCart">Adicionar ao Carrinho</button>
                  <button id="fechar-modal" onclick="closeModal()">Fechar</button>
                </div>
              </div>
        </div>      
</body>






<!-- SCRIPTS -->
<script>
 window.addEventListener("load", function() {
    var loader = document.getElementById("loader");
       var content = document.getElementById("content");
       setTimeout(function() {
         loader.style.display = "none";
         content.style.display = "block";
       }, 1000); // tempo em milissegundos
     });

     let cartCount = 0;
   function abrirModal(){
    const modal = document.getElementById('modal')
    modal.style.display = 'block'
   }
   function closeModal(){
    const modal = document.getElementById('modal')
    modal.style.display = 'none'
   }
   function addToCart() {
  const quantidadeInput = document.getElementById('quantidade1');
  const quantity = parseInt(quantidadeInput.value);

  if (isNaN(quantity) || quantity < 1 || quantity > 100) {
    alert('Por favor, selecione uma quantidade válida (1 a 100).');
    return;
  }

  cartCount += quantity;
  updateCartCount();
  closeModal();
  quantityInput.value = '';
}

function updateCartCount() {
  const cartCountElement = document.getElementById('contagem-carrinho');
  cartCountElement.textContent = cartCount.toString();
}
   


</script>


<!-- CSS -->
<STYLE>*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 50%;
max-width: 800px;
margin-left: 25%;
margin-top: 15%;
text-align: center;
background-color:rgba(0, 0, 0, 0.726);
border-radius: 50px;
z-index: 100;
align-items: center;
justify-content: center;
flex-direction: column;
color: white;
font-size: 20px;
}
#contagem-carrinho{
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.carrinho-container{
  position: relative;
  display: inline-block;
}
.carrinho-container img{
  margin-left: 20px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

#modal h2 {
margin-top: 0;
}

#modal p {
margin: 0 0 10px 0;
}

#modal label {
display: block;
margin-bottom: 10px;
}

#modal input[type="number"] {
display: block;
width: 20%;
margin-bottom: 20px;
margin-left: 40%;
}

#modal-button {
margin-top: 10px;
font-family: 'Oswald', sans-serif;
font-weight: bold; 
margin-bottom: 20px;
margin-right: 20px;
}

#fechar-modal {
margin-top: 10px;
font-family: 'Oswald', sans-serif;
font-weight: bold; 
margin-bottom: 20px;
margin-left: 20px;
}
#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  z-index: 999;
}
body{
  background: linear-gradient(to bottom, hwb(0 95% 5% / 0.973),  #cde1f8);
}
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #f71111d3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#content {
  display: none;
}
.products{
display: flex;
flex-wrap: wrap;
max-height: 500px;
overflow-y: scroll;
padding: 10px;
width: 100%;
}
.center{
display: flex;
flex-wrap: wrap;
max-width: 1280px;
margin: 0 auto;
padding: 0 2%;
}
html,body{
height: 100%;
overflow-y: hidden;
overflow-x: hidden;
}
header{
height: 125px;
padding: 20px ;
background: linear-gradient(to bottom, hwb(0 95% 5% / 0.973),  #7db5f5);
}
.logo{
width: 50%;
border-radius: 50px;
}
.menu{
padding-top: 30px;
width: 50%;
text-align: right;   
}
.menu a{
color:rgba(2, 0, 0, 0.966);
text-decoration: none;
margin-right: 15px;
font-family: 'Oswald', sans-serif;
font-size: 20px;
font-weight: 100;

border-radius: 20px;
padding: 10px;
font-weight: bold;
}
.menu :hover{
text-decoration: underline;
color: rgb(8, 0, 0);
  
}
img{
border-radius: 10px;
}
.product{
display: flex;
flex-direction: column;
align-items: center;
margin: 30px;
padding: 50px;
margin-left: 500px;
background: linear-gradient(to bottom, #f7f3f3,  #ee1212);
border-radius: 50px;
font-family: 'Oswald', sans-serif;
font-size: 18px;
font-weight: bold; 

}

.product img {
width: 200px;
height: 35 px;
margin-bottom: 40px;
overflow: hidden;
position: relative;
}
img {
transition: transform 0.3s ease-in-out;
}

img:hover {
transform: scale(1.2);
}

.product p {
margin: 10px 0;
}
.product button {
margin-top: 10px;
padding: 10px 20px;
background-color: rgb(252, 13, 13);
color:white;
border: none;
border-radius: 20px;
cursor: pointer;
width: 100px;
font-family: 'Oswald', sans-serif;
font-weight: bold; 
transition: transform 0.3s ease-in-out  
}

.product button:hover{
transform: scale(1.2)
}
::-webkit-scrollbar{
width: thin;
height: 0;
}
::-webkit-scrollbar-track {
background-color: #f1f0f0;
}

::-webkit-scrollbar-thumb {
background-color:  #f30707;
border-radius: 5px;
}

/* ao passar o mouse por cima do thumb */
::-webkit-scrollbar-thumb:hover {
background-color: #0a000094;
}

/* .imagem {
display: inline-block;
overflow: hidden;
width: 200px;
height: 200px;
} */




</STYLE>
